PORT=3000
CLERK_PUBLISHABLE_KEY=pk_test_ZGl2ZXJzZS1nYXplbGxlLTM3LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_8hti1CHv7pXDP06UQRDIEwxQnY3lm9gg0mG95eZN3g
USER=aymenbachiri99
PASSWORD=T35inywM1kHveGHI
MONGODB_URI=mongodb://aymenbachiri99:T35inywM1kHveGHI@ac-ebxzut1-shard-00-00.1x88ho4.mongodb.net:27017,ac-ebxzut1-shard-00-01.1x88ho4.mongodb.net:27017,ac-ebxzut1-shard-00-02.1x88ho4.mongodb.net:27017/?ssl=true&replicaSet=atlas-f5kezr-shard-0&authSource=admin&retryWrites=true&w=majority&appName=Cluster0